

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: rgb(25, 39, 68);
  text-align: center;
  overflow: hidden;
}
#level-start{
    font-family: 'Press Start 2p',cursive;
    font-size: 3rem;
    margin-top: 50px;
    color:  #FEF2BF;
    border: #0f0f0f;
}
.container{
    display: block;
    margin: auto;

}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.btn{
    /* display: inline-block; */
    margin:25px;
    width: 190px;
    height: 190px;
    border-radius: 20%;
    border:10px solid black;
}
.row{
    display: inline-block;
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }

  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  .game-won{
    background-color: green;
    opacity: 0.8;
  }